<h1>{{ title }}</h1>
<!-- Options at top of screen: search by name and create new event -->
<form (submit)="displayEdEventsTableByStudentName()">
  <button
    type="submit"
    class="btn btn-outline-success"
    (click)="[switchList(), switchCreateNewOff()]"
  >
    Search Student Name
  </button>
  <input type="text" name="studentsearch" [(ngModel)]="student" />
</form>

<div id="addNewEdEventOption">
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="[switchCreateNew(), switchListOff()]"
  >
    New Education Event
  </button>
</div>

<div id="lookUpByNameList" *ngIf="showListSwitch">
  <!-- List content for events by student name -->
  <h4>Education Records</h4>
  <table class="table table-striped table-hover table-borderless">
    <thead>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th scope="col">Duration (minutes)</th>
      <th scope="col">Location</th>
      <th scope="col">Notes</th>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let ed of edEvents">
        <td>{{ ed.subject }}</td>
        <td>{{ ed.date }}</td>
        <td>{{ ed.duration }}</td>
        <td>{{ ed.location }}</td>
        <td>{{ ed.notes }}</td>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="[selectedAssignToEdEvent(ed)]"
        >
          Edit
        </button>
      </tr>
    </tbody>
  </table>
</div>

<div
  id="createNewEdEvent"
  *ngIf="showCreateNewEventSwitch"
  ng-controller="createEdEventController"
  ng-app="app"
>
  <!-- menu for creating a new event -->
  <br />
  <form name="createEdEventForm" class="css-form" novalidate>
    <label for="studentName"
      >Student Name
      <input
        type="text"
        name="studentName"
        [(ngModel)]="newEdEvent.student"
        required
    /></label>
    <br />
    <label for="subject"
      >Subject
      <select name="subject" [(ngModel)]="newEdEvent.subject">
        <option for="subject" value="Elective" id="defaultSubject">
          Elective
        </option>
        <option for="subject" value="Language Arts">Language Arts</option>
        <option for="subject" value="Math">Math</option>
        <option for="subject" value="Reading">Reading</option>
        <option for="subject" value="Science">Science</option>
        <option for="subject" value="Social Studies">Social Studies</option>
      </select></label
    >
    <br />
    <label for="Date">Date </label>
    <input type="datetime-local" name="Date" [(ngModel)]="newEdEvent.date" />
    <br />
    <label for="duration">Duration (minutes) </label>
    <input
      type="text"
      name="duration"
      [(ngModel)]="newEdEvent.duration"
    /><br />
    <label for="location">Location </label>
    <input
      type="blockquote"
      name="location"
      [(ngModel)]="newEdEvent.location"
    /><br />
    <label for="notes">Notes </label>
    <input type="textarea" name="notes" [(ngModel)]="newEdEvent.notes" /><br />
    <button
      class="btn btn-outline-success"
      type="submit"
      (click)="[createEdEvent(), switchConfirmCreateNew(), switchCreateNew()]"
    >
      Save
    </button>
  </form>
</div>

<div id="ConfirmNewEdEvent" *ngIf="showConfirmCreateNewSwitch">
  <!-- pop-up message confirming the new record -->
  <br />
  <h4>Your record has been saved!</h4>
  <br />
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="switchConfirmCreateNew()"
  >
    Close
  </button>
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="[switchConfirmCreateNew(), switchCreateNew()]"
  >
    Record Another Education Event
  </button>
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="[switchConfirmCreateNew(), switchList()]"
  >
    Review Students Records
  </button>
</div>

<!-- update menu prepopulated with current information and buttons to save, cancel and delete. SAVE will invoke a propmt to display the newly created record and a confirmation button-->
<form name="updateEdEventForm" class="css-form" *ngIf="editEdEvent">
  <label for="studentName"
    >Student Name
    <input
      type="text"
      name="studentName"
      [(ngModel)]="editEdEvent.student"
      required
  /></label>
  <br />
  <label for="subject"
    >Subject
    <select name="subject" [(ngModel)]="editEdEvent.subject">
      <option for="subject" value="Elective" id="defaultSubject">
        Elective
      </option>
      <option for="subject" value="Language Arts">Language Arts</option>
      <option for="subject" value="Math">Math</option>
      <option for="subject" value="Reading">Reading</option>
      <option for="subject" value="Science">Science</option>
      <option for="subject" value="Social Studies">Social Studies</option>
    </select></label
  >
  <br />
  <label for="Date">Date </label>
  <input type="datetime-local" name="Date" [(ngModel)]="editEdEvent.date" />
  <br />
  <label for="duration">Duration (minutes) </label>
  <input type="text" name="duration" [(ngModel)]="editEdEvent.duration" /><br />
  <label for="location">Location </label>
  <input
    type="blockquote"
    name="location"
    [(ngModel)]="editEdEvent.location"
  /><br />
  <label for="notes">Notes </label>
  <input type="textarea" name="notes" [(ngModel)]="editEdEvent.notes" /><br />
  <button
    class="btn btn-outline-success"
    type="submit"
    (click)="updateEdEvent(editEdEvent)"
  >
    Save
  </button>
  <button
    class="btn btn-outline-success"
    type="button"
    (click)="editEdEventToNull()"
  >
    Cancel
  </button>
</form>

<div id="saveEdEventConfirm" *ngIf="showUpdatedConfirmSwitch">
  <!-- display the updated record with a button to confirm saving the information of canceling -->
</div>

<div id="confirmDelete" *ngIf="showDeletedConfirmSwitch">
  <!-- display a question asking user to confirm with options to cancel or confirm -->
</div>

<div id="deleteConfirmed" *ngIf="showDeleteConfirmedSwitch">
  <!-- display confirmation the record was deleted with an ok button -->
</div>
