<h1>Not Found 404</h1>
<hr />
<p>
  Crickets and dead hope rest here. If you are either a cricket or a deceased
  hope, you are among friends. If not, you don't belong here exactly, but
  neither the crickets or expired hopes will bother you. Stay as long as you
  like.
</p>
<p>
  At this point, you can take a moment to ponder your life-choices that led you
  to this moment and decide how to course-correct whatever less than desirable
  actions you've taken. This content has been brought to you by too much time on
  my hands.
</p>
